extends layout.pug 

block content 
    .block
        form(action=`/update/${task.editId}` method="POST")
            p.title-p Title:
            input.title-input(type="text" name="title" value= task.title)
            p.description-p Description:
            textarea.task-descr(name="description" cols="30" rows="2")= task.description
            p.priority-text Choose the priority of the task:
            select.priority(name='priority')
                each pr in priorities 
                    option(value = pr.priority_id)= pr.title 
            button.btn-update Update