extends layout.pug 

block content 

    h1.heading Task Management 

    .block
        form(action='/' method='POST')
            p.title-p Title:
            input.title-input(type="description" name="title")
            p.description-p Description:
            textarea.task-descr(name="description" cols="30" rows="2" class = received == 'no' ? 'input-err' : '')
            select.priority(name='priority')
                each pr in priorities 
                    option(value = pr.priority_id)= pr.title 
            button.btn-add Add 

    if answer == 'yes'
        p.task-message Task Was Created Successfully 
        p.redirect-to-tasks-page You can check your tasks 
            a.link(href="/tasks") here 
            span.continue or from navigation bar Tasks