extends layout.pug 

block content 

    h1.heading Task Management 
    if finish 
        p.removed Task is Removed
    .block
        form(action='/' method='POST')
            p.title-p Title:
                if title <= 0
                    span.error Fill the input
            input.title-input(type="description" name="title" class = title <= 0 ? 'title-input-error' : '')
            p.description-p Description:
                if description <= 0
                    span.error Fill the input
            textarea.task-descr(name="description" cols="30" rows="2" class = description <= 0 ? 'descr-error' : '')
            p.priority-text Choose the priority of the task:
                if priority == 0
                    span.error Choose the priority
            select.priority(name='priority')
                each pr in priorities 
                    option(value = pr.priority_id)= pr.title 
            button.btn-add Add 

    if answer == 'yes'
        p.task-message Task Was Created Successfully 
        p.redirect-to-tasks-page You can check your tasks 
            a.link(href="/tasks") here 
            span.continue or from navigation bar Tasks
            

