doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="/styles/style.css")
        link(rel="icon", href="/images/page-logo.png")
        title Task Manager
    body 
        header 
            h1.logo_h1 
                a.logo_h1_link(href="/") Task Manager
            nav.navigation 
                ul.nav_links
                    li 
                        a.home_link(href="/") Home
                    li 
                        a.workspace_link(href="/tasks") Tasks

        block content
                      