extends layout.pug 

block content
    h1.task-header Tasks
    div.card-block
        each task in tasks
            section.task-cards
                p.card-title= task.title
                p.card-description= task.description 
                p.card-priority Priority #{task.priority}
                .action
                    a.update-btn(href="/edit/"+task.editId) Update 
                    a.finish-btn(href=`/${task.id}/finish`) Finish 

