* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #e8e8f1;
  width: 100%;
  transition: all 1s ease 0s;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 10%;
  background-color: rgb(100, 149, 237);
}
header a {
  color: black;
  text-decoration: solid;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
}
.nav_links li a {
  transition: all 1s ease 0s;
  padding: 20px 20px;
  margin: auto 5px;
}
@media screen and (max-width: 750px) {
  .logo_h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 450px) {
  .logo_h1 {
    font-size: 15px;
  }
  .nav_links li a {
    font-size: 10px;
  }
}
.nav_links li a:hover {
  color: rgb(255, 255, 255);
  border-radius: 20px;
  background-color: rgb(36, 106, 235);
}
.heading {
  margin-top: 50px;
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
}
.block {
  width: 60%;
  height: 580px;
  margin: 0 auto;
  position: relative;
}
.priority{
  padding: 5px 5px;
  display: block;
  width: 100%;
  font-size: 25px;
  border-radius: 10px;
}
.task-descr{
  width: 100%;
  height: 300px;
  font-size: 25px;
}
.title-input{
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  padding: 5px;
  width: 100%;
}
.btn-add{
  position: absolute;
  font-size: 30px;
  padding: 15px 40px;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 35%;
}
.title-p, .description-p, .priority-text{
  font-size: 25px;
}
.task-message{
  width: 500px;
  margin: 20px auto;
  font-size: 1.7em;
  text-transform: uppercase;
}
.redirect-to-tasks-page{
  margin-left: 20px;
  font-size: 1.4em;
}
.task-cards{
  display: block;
  width: 317px;
  margin-top: 20px;
  padding: 30px;
  background-color: white;
  border: 3px solid rgb(36, 106, 235);
  border-radius: 10px;
  text-align: center;
}
.error{
  color: red;
}
.descr-error, .title-input-error{
  border: 2px solid red;
}
.card-title{
  font-size: 2em;
  
}